:root{
--hero-bg:linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0.75%, rgba(0, 0, 0, 0.20) 100%),
  url("/images/bg.png"),
  lightgray 0px -349.249px / 100% 363.584% ;
  no-repeat;
  --font-family:'Nunito',
    sans-serif;
}

body{
font-family: var(--font-family);
}

h1, h4, p{
font-weight: bold;
}

h1{
 font-size: 72px;
}

h4{
font-size: 20px;
}

p{
  font-size: 28px;
  color:#272142;
}

.footer{
  background-color: #F9F7FE;
  padding:20px 10px;
  color:#272142;
  font-size: 20px;
}

.hero{
  background: var(--hero-bg);
  background-size:cover;
  padding: 30px;
  text-align: center;
  color:#fff;
}

.hero h1{
font-weight: bold;
font-size: 72px;
line-height: normal;
}

.hero h4{
font-weight: bold;
font-size: 20px;
color:#fff;
}

@media only screen and (max-width: 768px) {
  .hero {
    background: var(--hero-bg);
  }
    h1 {
      font-weight: bold;
      font-size: 48px;
      text-align: center;
    }
  
    h4{
      font-weight: bold;
      font-size:18px;
    }

    p {
      font-weight: bold;
      font-size:18px;
      text-align: center;
}
}
