:root{
--hero-bg:linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0.75%, rgba(0, 0, 0, 0.20) 100%),
  url("/images/bg.png"),
  lightgray 0px -349.249px / 100% 363.584%; no-repeat;
  --font-family:'Nunito',
    sans-serif;
}

body{
font-family: var(--font-family);
background: #fff;
color:#272142;

}

h1, h3, h5{
font-weight: bold;
}

h1{
 font-size: 72px;
}

h2{
  font-size: 60px;
}

h3{
  font-size:36px;
}

h4{
font-size: 28px;
line-height:30px;
}

h5{
  font-size: 24px;
}

p{
  font-size: 18px;
  line-height: 30px;
}

nav{
  padding:20px 0;
}

nav ul{
  margin:0;
  padding:0;
}

nav li{
  display:inline-flex;
  list-style:none;
  line-height:45px;
  margin-left: 20px;
}

nav a{
  text-decoration: none;
  color:#272142;
  transition: all 200ms ease-in-out;
}

nav a:hover, nav li.active a{
  color:#662EED;
}

footer .copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

footer {
  background-color: #F9F7FE;
  padding: 20px 10px;
  font-size: 16px;
}

.home-section{
  margin-top:30px;
  padding: 40px;
}

.logo {
  max-height: 40px;
}

.hero{
  background: var(--hero-bg);
  background-size:cover;
  padding: 30px;
  text-align: center;
  color:#fff;
}

.hero h1{
font-weight: bold;
line-height: normal;
}

.hero h4{
font-size: 20px;
font-weight: bold;
color:#fff;
line-height: 35px;;
}

.content-hero{
  text-align: center;
  margin: 20px;
  padding: 20px 30px;
}

.section-hero{
  max-width:60%;
  margin-bottom:5em;
}

.section-content{
  margin: 30px;
}

.section-hero h2{
margin-top: 60px;
}

.section-hero h4{
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.about-section2{
  margin-bottom: 80px;
}

.about-section2 small{
  font-size: 16px;
  line-height: 30px;
}

.recipe-listing{
  padding:80px 40px;
  max-width:65%;
}
.dottedUnderline{
  border: 1px dashed #67D5D2;
}

.table{
  opacity: 0.9;
  word-spacing: 340px;
}

.steps{
  color:#F65282;
}

.contact-content p {
  text-transform: uppercase;
  color: #662EED;
}

.contact-content a {
  text-decoration: none;
}

.social-links a {
  margin: 0 20px;
  text-decoration: none;
  color: #272142;
  font-size: 16px;
}

.social-links a:hover {
  color: #662EED;
}

@media (max-width: 900px) {
    h1,h2,h3,h4{
      font-weight: bold;
      text-align: center;
    }
    h1 {
      font-size: 45px;
    }

    h2{
    font-size:28px;
    }

    h3{
      font-size:20px;
    }
  
    h4{
      font-size:18px;
    }

    h5 {
      font-size:18px;
}

    .about-hero{
      text-align: center;
}
.section-hero{
  max-width:80%;
}

    .section-hero h1{
      margin:0;
}    
    .table{
     word-spacing: 95px;
}
    .logo{
     display: none;
}

    .recipe-listing{
    max-width:100%;
    padding:20px;
  }

.section-content{
  margin:0;
}
  
  footer .social-links a{
    display:block; 
}

 footer .footer-logo{
  max-height: 30px;
 }
}
